
<div class="col-12 col-sm-10 col-md-10" style="margin: auto"> 
  <div class="alert alert-success alert--green" role="alert">
    <i class="fa fa-check icon icon--green text-left" ></i>

    A simple success alert—check it out!
  </div>
  <div class="alert alert-danger alert--red" role="alert">
    <i class="fa fa-times icon icon--red text-left" ></i>
    A simple danger alert—check it out!
  </div>

  <div class="card col-4" style="margin:auto">
    <div class="card-body">
      <form class=" ">
        <div class="form-group text-center">
          <label class="title">Entrar na minha conta</label>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" >Entrar</button>
        </div>
      </form>

    </div>
  </div>
  <div class="col-12 text-center">
    <p class="underline" for="exampleInputEmail1">Precisa de uma conta? <a>Inscrever-se</a>.</p>
    <p class="secondlink ">Esqueceu sua senha? <a>Clique aqui</a>.</p>
  </div>
  <div class="col-6 text-center" style="margin : auto">

    <div class="alert alert-light info-keyrus" role="alert" >
      
      <i class="fa fa-info text-left icon" ></i>
      <div  class="text-center company" >
        keyrus
      </div>
    </div>
  </div>
</div>